.card-Product {
    background: rgba(42, 53, 81, 0.3) !important;
    border-radius: 16px !important;
    // box-shadow: 0 4px 30px rgb(0 0 0 / 10%) !important;
    box-shadow: inset 0 4px 30px rgba(0, 0, 0 , 0.10);
    backdrop-filter: blur(5px) !important;
    border: 1px solid #ffffff4d;
    color:  #fff8f8f2 !important;
}
