.app__container {
    display: flex;
    margin-top: 10vh;
   
  }
.card-app {
    background: rgba(42, 53, 81, 0.3) !important;
    border-radius: 16px !important;

    box-shadow: inset 0 4px 30px rgba(0, 0, 0 , 0.10);
    backdrop-filter: blur(5px) !important;
    border: 1px solid #ffffff4d;
    color:  #fff8f8f2 !important;
}

.word-break-app{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal; 
} 
.swal2-container.swal2-center>.swal2-popup {
  background:#454545f2;
}
.swal2-title{
  color:#c7cafb82 !important;
}

table {
  width: 100%;
  margin-top: 80px;
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
  font-size: 18px;
}

th,
td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: left;
}

thead th {
  background-color: #adada536;
  color: #fff;
  width: 25%;
}
.rct-title{
  color: #fff
}
.back-btn{
  color: white !important;
  background: #abdb2f82 !important;
}
.add-btn{
  background: #b9b3b585 !important;
   color: #ffff !important;
}
.view-more-btn{
  color: #ffff !important;
  background: #e4d510bf important;
}
.rct-icons-fa4 .rct-icon-check::before {

  color: #309b0091;
}